body {
    background-color: rgb(15, 14, 3);  
}

#output, #comandos {
    display: flex;
    margin: 5px;
    padding: 10px;
    border: 3px solid rgb(41, 41, 23);
    box-shadow: 0px 0px 25px rgb(37, 39, 13);
    border-radius: 3%;
}
#output {
    width: 21rem;
    height: 33rem;
    flex-wrap: wrap;
    background-color: rgb(20, 20, 20);
    color: white;
    overflow-y: auto;
}

#comandos {
    width: 52rem;
    height: 15rem;
    background-color: rgb(34, 31, 24);
    resize: horizontal;
    overflow-x: auto;
    position: relative;
    align-self: center;    
}


#output span {
    position: relative;
}
#output div {
    margin-left: 5px;
}

#controle {
    margin-top: 10px;
    height: 100px;
    width: 130px;
    border: 2px solid rgb(57, 58, 23);
    background-color: rgb(41, 41, 23);
    border-radius: 10%;
}

#quadro {
    width: 550px;
    margin-bottom: 10px;
    top: 150px;
    border: 3px solid rgb(41, 41, 23);
    background-color: rgb(103, 105, 44);
    box-shadow: 6px 3px 3px rgb(37, 39, 13);
    border-radius: 2%;
    margin-left:  5px;
}

.bloco, .deletavel {
    border: 3px solid black;
    margin: 2px;
}

.deletavel {
    font-size: 2rem;
    background-color: rgb(82, 34, 3);
}

#flex-conteiner{
    width: 16rem;
    height: 17rem;
    border: 2px solid rgb(103, 105, 44);
    background-color: rgb(41, 41, 23);
    border-radius: 2%;
}
#flex-conteiner, #controle {
    box-shadow: 0px 0px 25px rgb(37, 39, 13);
}

.item-conteiner {
    width: 7.5rem;
    height: 10.5rem;
    margin: 5px;
    border: solid 5px rgb(82, 34, 3);
    background-color: rgb(41, 41, 23);
    border-radius: 5%;
}

.flex-item span h5 {
    background-color: rgb(82, 34, 3);
;
}
span h5 {
    position: relative;
    justify-content: space-around;
    background-color: rgb(103, 105, 44);
}

#flexdirection, #flexwrap, #justifycontent, #alignitems, #aligncontent, #alignself{
    width: 7rem;
}

#corpo-flex-conteiner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#corpo-flex-conteiner span{
    background-color: rgb(103, 105, 44);
    width: 120px;
    border-radius: 5%;
    margin-bottom:  10px;
    padding: 2px;
    box-shadow: 3px 3px 5px rgb(34, 11, 11);
}
.flex-grow input {
    width: 95px;
}

.flex-item{
    background-color: rgb(41, 41, 23);
    box-shadow: 3px 3px 3px rgb(77, 80, 46);
    margin: 3px;
    width: 105px;
}
.flex-item select {
    width:94px
}
.flex-item span {
    color: white;
}

#esquerda {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#esquerda {
    width: 37rem;
}

#copiar {
    height: 35px;
    width: 70px;
    position: absolute;
    display: flex;
    align-self: flex-start;
    margin-left: 220px;
    margin-top: -5px;
    box-shadow: 0px 0px 25px rgb(37, 39, 13);  
}

img {
    align-self: flex-start;
    width: 50px;
    height: 50px;
    background-color: black;
    border: 2px solid rgb(34, 28, 19);
    border-radius: 50%;
    z-index: 2;

}

#teste {
    height: 30rem;
}